.tableParent {
  width: 100%;
    border-collapse: collapse;
    border: none;
    margin: 1rem 0;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  }
  
  .tHead {
    background-color: #4d4d6e;
    color: white;
    text-align: left;
  }
  
  .tHead th {
    padding: 0.75rem;

    font-weight: 500;
  }
  
  .rowParent {
    border: none;
  }
  
  
  .userData {
    padding: 0.75rem;
    font-size: 0.95rem;
    border: none;
    background-color: white;
  }
  
  .userData select {
    padding: 0.4rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
    font-size: 0.9rem;
  }
  
  .pagesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
  }
  
  .page {
    font-weight: bold;
  }

  .panelTitle{
    margin-bottom: 2rem;
  }
  
  .totalUsers{
    text-align: center;
  }

  .searchInput{
    width: 50%;
  }