* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
  }
  
  #root {
    height: 100%;
  }
  
button {
    padding: 0.8rem;
    border-radius: 8px;
    color: white;
    border: none;
    cursor: pointer;
    background-color: #007bff;
    transition: all 0.3s ease-in-out;
}
button:hover{
    scale: 1.1;
}

button:disabled{
  background-color: grey;
}
