.sidebar {
  background-color: #1e1e2f;
  color: white;
  padding: 1rem;
  position: sticky;
  display: flex;
  top: 0;
  flex-direction: column;
}

nav {
  position: fixed;
  top: 0;
  margin-top: 0.8rem;
}
nav a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 1rem 0;
}

.logout {
  background-color: #e63946;
  border: none;
  padding: 0.7rem;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  width: 11rem;
  color: white;
  margin: auto auto 1rem auto;
  align-self: center;
}

.toggleBtn {
  display: none;
}


@media (max-width: 768px) { 
  .toggleBtn {
    display: block;
    width: auto;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1000; 
    background-color: #f8fafc;
    color: #1e1e2f;
    border: none;
    padding: 0.6rem 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    transform: translateX(0);
    transition: transform 0.3s ease;
    z-index: 99;
  }

  .sidebar.closed {
    transform: translateX(-100%);
  }
}

.link, .activeLink {
  padding: 0.5rem;
  text-decoration: none;
  border-radius: 5px;
  color: white;
  display: flex;
  gap: 0.2rem;
 
}

.activeLink {
  background-color: #555589;
  font-weight: bold;
}
