.chart {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-bottom: 3rem;
  }
  
  .barContainer {
    display: flex;
    flex-direction: column;
    font-weight: 500;
  }
  
  .bar {
    height: 20px;
    border-radius: 4px;
    color: white;
    padding-left: 6px;
    line-height: 20px;
  }
  